<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<section>

			<div class="my-card mx-3">
			  <th:block th:if="${totalPages>0}">
				<div th:if="${session.message}" th:classappend="${'alert-'+${session.message.type}}" 
					class="alert" th:text="${session.message.content}" role="alert">
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						<h3 class="text-center">Contacts</h3>

						<!-- show all comments -->
						<table class="table tcontacts">
							<thead class="head-darks">
								<tr>
									<th scope="col">Profile</th>
									<th scope="col">First</th>
									<th scope="col">Nick Name</th>
									<th scope="col">Phone</th>
									<th scope="col">Email</th>
									<th class="text-center" scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="contacts:${contact}" th:object="${contacts}"  th:id="*{cid}">
									<td data-label="Profile"><img class="contact_profile" th:src="@{'/img/'+${contacts.image}}" alt="Profile Picture" src=""></td>
									<td data-label="First" th:text="*{name}"></td>
									<td data-label="Nick Name" th:text="*{secondName}"></td>
									<td data-label="Phone" th:text="*{phone}"></td>
									<td data-label="Email"><a style="text-decoration:none;" th:href="@{'/user/contact/profile/'+*{cid}}">
									
									<span th:with="kwd=*{email},len=${#strings.length(kwd)}" 
									
									th:text="(${len>19}) ?${#strings.substring(kwd,0,19)}+'...' :${kwd}"></span>
									
									</a></td>
									
									<td class="td_frm text-end">
									<button class="btn btn-danger btn-sm" th:name="*{name}" th:onclick="|deleteContact(*{cid},${currentPage},this.getAttribute('name'))|">Delete</button>
									
									<form th:method="post" th:action="@{'/user/update/'+*{cid}}">
									<button class="btn btn-primary btn-sm">Update</button>			
									</form>
								</td>
								
								</tr>
							</tbody>
						</table>
						
						<!-- pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
  
  <!-- go back page link -->
    <li th:if="${currentPage != 0}" class="page-item" ><a class="page-link" th:href="@{'/user/view-contacts/'+${currentPage-1}}">Previous</a></li>
    
   <!--  #numbers.sequence(firstPage,lastPage); -->
   <!-- all page link -->
    <li th:if="${totalPages!=1}" th:classappend="${currentPage==i-1} ? 'active':'' " th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
    <a class="page-link" th:href="@{'/user/view-contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
    
  <!-- go next page link-->
    <li th:if="${currentPage+1 != totalPages}" class="page-item">
    <a class="page-link" th:href="@{'/user/view-contacts/'+${currentPage+1}}">Next</a></li>
  </ul>
</nav>
</th:block>
<th:block th:unless="${totalPage<0}">
<div class="not_found text-center">
<h1 style="color:red">404</h1>
<p>Contacts not available.</p>
<a class="btn bg-primary" th:href="@{/user/contact-form}">Add contact</a>
</div>
</th:block>	
</div>
		
</section>
</body>
</html>